{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block content %}

<div class="masthead">
    <div class="container-fluid bg-color4 mb-5">
       <div class="row justify-content-center">
       
         <div class="col-md-4 mt-5">
          
            <h2 class="text-center text-col1 fw-bold">{% trans "Login" %}</h2>
            <p class="text-center text-col1 fw-bold">{% blocktrans %}Please
              <a href="{{ signup_url }}" class="fw-bold">Sign up</a> if you don't have an account yet.{% endblocktrans %}
            </p>
            <div class="card-panel mb-5 bg-color3 text-col2">
              <form class="login ms-3 mt-3 pe-3 fw-bold item-col2" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="text-center">
                  <button class="btn bg-color4 text-col1 fw-bold m-2" type="submit" aria-label="login">{% trans "Login" %}</button>
                  </div>
               </form>
               
            </div>
          </div>
        </div>
     </div>
 </div>
{% endblock %}
