{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="masthead">
  <div class="container-fluid bg-color4 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-4 mt-3">
        <h2 class="text-center text-col1 fw-bold mt-3">{% trans "Sign Up" %}</h2>

        <p class="text-center text-col1 fw-bold">{% blocktrans %}Already a member? Please <a href="{{ login_url }}" class="text-col1 fw-bold a-link">Login</a>.{% endblocktrans %}</p>
      
           <div class="card-panel mt-3 mb-5 bg-color3">
               <form class="signup ms-3 mt-2 pe-3 fw-bold text-col2" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                
                {{ form|crispy }}
                {% if redirect_field_value %}
                
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center mb-5">
                <button type="submit" class="btn bg-color4 text-col1 fw-bold mt-3" aria-label="Sign up">{% trans "Sign Up" %} &raquo;</button>
                </div>
             </form>
           </div>
         </div>
       </div>
  </div>
</div>
{% endblock %}
