/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Fredokawght@600&family=Robotowght@300');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

/*********************Body********/
body {
    font-family: Roboto, sans-serif;
}

/*********************Navbar******/
.navbar {
    background-color: #000;
}

.navbar-brand {
    font-family: "Fredoka One", cursive;
}

.navbar-nav {
    margin-left: 150px;
}

.nav-item {
    font-size: large;
    align-items: center;
}

/*********************Footer******/
.bg-color {
    background-color: #000;
    height: 80px;
    
}

footer p{
    color: #ffff;
    padding-top: 30px;
}

#social-media-link {
    display: flex;
    justify-content: space-around;
    
}

#social-media-link a i {
    color: #ffff;
    font-size: xx-large;
    padding-top: 20px;
}

/********************************Background image****/
.hero-img {
    width: 100%;
    height: 60vh;
    
    background: url('../images/green-img.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-container {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/****************Cover text styling******/
.cover-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffff;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}

/****************Three cards styling*******/
.three-cards {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.card-panel {
    border: solid 2px #000;
}

.card-text {
    text-align: center;
    padding-top: 10px;
}

.btn-dark {
    margin-bottom: 20px;
}

/*******************************Media queries************/
@media screen and (min-width: 320px) {
    .btn-dark {
        margin-left: 95px;
    }
    footer p {
        font-size: 55%;
    }
}

@media screen and (min-width: 375px) {
    .btn-dark {
        margin-left: 120px;
    }
    footer p {
        font-size: 65%;
    }
}

@media screen and (min-width: 425px) {
    .btn-dark {
        margin-left: 150px;
    }
    footer p {
        font-size: 75%;
    }
}