{% extends "base.html" %}

{% block content %}

<div class="masthead">
    <div class="container-fluid bg-color4">
        <div class="row justify-content-center">
            <div class="col mt-5 fw-bold">
                 <h2 class="text-center text-col1 fw-bold">404 Page</h2>
                 <p class="text-center text-col1">
                    The page you are requested could not be found
                 </p>
                 <p class="text-center text-col1">
                     Let's take you back to <a href="{% url 'home' %}" class="text-col1 a-link">home</a>
                 </p>
            </div>
        </div>
    </div>
</div>        
{% endblock %}