{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="masthead">
   <div class="container-fluid hero-img">
      <div class="cover-text"> 
            <p class="fw-bold m-2 bg-text ps-3 pe-3">A place where you get all your favourite recipes</p>
      </div>
    </div>

  <div class="divider"></div>

  <!--Quote-->

  <div class="container-fluid">
     <div class="row justify-content-center">
          <div class="col-12 bg-color3">
              <div class="fw-bold text-center text-col2">
                   <p class="mt-3">"A recipe has no soul.<br>
                        You as a cook, <br>
                        must bring soul to recipe"<br>
                        <br>
                        Thomas Keller
                   </p>
             </div>
          </div>
      </div>
    
      <!--Two cards-->    
      <div class="row bg-color4 justify-content-center">
          <div class="divider"></div>
          <!--View recipes-->
          <div class="col-12 col-md-6 mt-3 mb-5">
               <div class="card-panel text-center bg-light mb-5">
                 <p class="card-text text-col1 fw-bold">View the recipes of <br>
                      different cuisines
                 </p>
                   <a href="{% url 'recipes_list' %}" class="btn text-col1 fw-bold ms-2 mb-2 bg-color4" aria-label="link to recipes page">View Recipe</a>
             </div>
          </div>

          <!--Upload recipe-->
          <div class="col-12 col-md-6 mt-3 mb-5 bg-color4">
              <div class="card-panel text-center bg-light mb-5">
                    <p class="card-text text-col1 fw-bold">Upload recipes<br>
                        to your profile
                    </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'recipe_add' %}" class="btn text-col1 fw-bold right ms-2 mb-2 bg-color4" aria-label="link to recipe_add page">Add Recipe</a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn text-col1 fw-bold right ms-2 mb-2 bg-color4" aria-label="link to login page">Add Recipe</a>
                    {% endif %}
              </div>
          </div>
      </div>
  </div> 
</div>

{% endblock %}