{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid hero-img mt-3">
    
        <div class="image-container">
        </div>
        <div class="cover-text"> 
               <h2 class="lead">A place where you get all your favourite recipes</h2>
        </div>
    </div>

<!--Three Cards-->    
<div class="container-fluid three-cards">
    <div class="row">
        <div class="col-12 col-md-4 pt-3">
              <div class="card-panel">
                 <p class="card-text">View the recipes of <br>
                      different cuisines
                 </p>
                   <a href="#" class="btn btn-dark">Recipes</a>
             </div>
        </div>
        <div class="col-12 col-md-4 pt-3">
             <div class="card-panel">
                    <p class="card-text">"A recipe has no soul.<br>
                          You as a cook, <br>
                          must bring soul to recipe"<br>
                          <br>
                          Thomas Keller
                    </p>
                </div>
        </div>
        <div class="col-12 col-md-4 pt-3 mb-3">
            <div class="card-panel">
                    <p class="card-text">Register for an account<br>
                        add your recipes and<br>
                        leave a comment
                    </p>
                    <a href="#" class="btn btn-dark">Signup</a>
                </div>
        </div>
    </div>
</div>    

{% endblock %}