{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="masthead">
    <div class="container-fluid bg-color4 mb-5">
       <div class="row justify-content-center">
        <!--To create a Profile-->
         <div class="col-md-6 mt-4">
              <h2 class="text-center text-col1 fw-bold">Add your Profile</h2>
              <div class="card-panel bg-color3 text-col2">
                  <form method="POST" class="ms-3 mt-3 pe-3 fw-bold" enctype="multipart/form-data" action="{% url 'profile' %}">
                     {% csrf_token %}
                     {{ profile_form|crispy }}
                     
                     <div class="text-center mb-3">
                          <button type="submit" class="btn bg-color4 text-col1 fw-bold" aria-label="Add a profile">Add Profile</button>
                     </div>
                    </form>
               </div>
           </div>
        </div>
    </div>
</div>

{% endblock %}