{% extends "base.html" %}

{% block content %}

<div class="masthead">
   <div class="container-fluid">
       <div class="row">

           <!--Recipes list column-->
           <div class="col-12 mt-3">
               <div class="row">
                  {% for recipe in recipe_list %}
                  <div class="col-md-4">
                      <div class="card border-dark mb-4">
                          <div class="card-body">
                              <div class="recipe-img-container">
                                  {% if 'placeholder' in recipe.recipe_image.url %}
                                  <img class="card-img-top" 
                                  src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="300px" height="300px">
                                  {% else %}
                                  <img class="card-img-top"
                                  src="{{ recipe.recipe_image.url }}" width="300px" height="300px">
                                  {% endif %}
                                  <div>
                                     <p class="author">Author: {{ recipe.author }}</p>
                                  </div>  
                             </div>
                               <a href="{%  url 'recipe_detail' recipe.id %}">
                                 <p class="card-title">{{ recipe.title }}</p>
                               </a>
                              <hr>
                             <p class="card-date">{{ recipe.created_on }}</p>
                          </div>
                     </div>
                 </div>

                  {% if forloop.counter|divisibleby:3 %}
              </div>
              <div class="row">   
                   {% endif %}   
                 {% endfor %}
              </div>
          </div>
      </div>
      {% if is_paginated %}
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
              {% endif %}
              {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
              {% endif %}
          </ul>
      </nav>
      {% endif %}
    </div>
</div>
{% endblock %}