{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="masthead bg-color4">
   <div class="container detail-container">
       <div class="row mt-5">
           <!--To display a Recipe column-->
           <div class="col-12 col-md-6">
                <div class="card border-dark text-col1 mt-5 mb-5">
                    <div class="card-body">
                          <div class="recipe-img-container text-center mt-4 mb-4">
                              {% if 'placeholder' in recipe.recipe_image.url %}
                              <img class="card-img-top" src="{% static 'images/default-recipe.webp' %}" alt="recipe image">
                              {% else %}
                              <img class="card-img-top" src="{{ recipe.recipe_image.url }}" alt="recipe image">
                              {% endif %}
                           </div>
                           <div class="text-center">
                                 <p><span class="fw-bold">Title:</span> {{ recipe.title }}</p>
                                 <p><span class="fw-bold">By {{ recipe.author }}</span></p>
                                 <p><span class="fw-bold">Ingredients:</span> <br> {{ recipe.ingredients|linebreaksbr }}</p>
                                 <p><span class="fw-bold">Serves:</span> {{ recipe.serves }}</p>
                                 <p><span class="fw-bold">Duration(in minutes):</span> {{ recipe.duration }}</p>
                                 <p><span class="fw-bold">Cuisine:</span> {{ recipe.cuisine_name }}</p>
                                 <p><span class="fw-bold">Skill Level:</span> {{ recipe.skill_level }}</p>
                                 <p><span class="fw-bold">Steps:</span> <br> {{ recipe.steps|linebreaksbr }}</p>
                            </div>
                       </div>
                  </div>
               </div>
               <!--Display a message and link to login page for unauthorized user-->
               <div class="col-12 col-md-6 mt-5">
                      {% if not user.is_authenticated %}
                      <div class="card-panel mt-5 text-center bg-color3 text-col2">
                          <h3 class="mt-2">Why not 
                              <a href="{% url 'account_login' %}" aria-label="Link to login page">Login</a> if you want to leave a comment on the recipe?
                          </h3>
                     </div>
                     {% endif %}
                     <!--To add comment only for authenticated users-->           
                     {% if user.is_authenticated %}
                     <div class="card-panel bg-color3 text-col2">
                          <h3 class="text-center mt-2">Enter your comments here:</h3>
                          <p class="ms-3 mt-1 text-center"><span class="fw-bold">Posting as:</span> {{ user.username }}</p>
                          <p class="ms-3 mt-1 text-center"><span class="fw-bold">Recipe:</span> {{ recipe.title }}</p>
                          <div class="card-text">
                              <form method="POST" action="{% url 'recipe_detail' recipe.id %}" class="ms-3 me-3 fw-bold text-center">
                                  {% csrf_token %}
                                  {{ comment_form|crispy }}
                                  <div class="row">
                                      <div class="col text-center mb-3">
                                          <button type="submit" class="btn bg-color4 text-col1 fw-bold" aria-label="Add a comment">Add Comment</button>
                                      </div>
                                      <div class="col text-center mb-3">
                                           <a href="{% url 'recipes_list' %}" class="btn btn-light bg-color4 text-col1 fw-bold mb-2 me-4" aria-label="Link to recipes_list page">
                                               Cancel
                                           </a>
                                      </div>
                                  </div>
                              </form>
                         </div>
                     </div>
                     {% endif %}
                 </div>
             </div>   
             <div class="divider"></div>

             <div class="row">
             <!--To display Comments column-->
             <div class="col-12 mb-5 bg-color4">
                  <h3 class="text-col1 fw-bold mb-5">Comments:</h3>
                   {% for comment in comments %}
                   <div class="card border-dark mb-5">
                          <div class="card-body mt-3">
                              <!--Author-->
                              <p>{{ comment.author }}
                                  <!--created on-->
                                 <span>{{ comment.created_on }}</span>
                              </p>
                               Wrote:
                               <!--Body-->
                               <span>{{ comment.body | linebreaks }}</span>
                          </div>
                     </div>
                     {% endfor %}
             </div>
        </div>
    </div>
</div>

{% endblock %}