{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


 <div class="masthead">
    <div class="container-fluid mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                 {% if user.is_authenticated %}
                 <h2 class="text-center">Update a recipe</h2>
                 <div class="card-panel">
                   <form action="{% url 'recipe_edit' recipe.id %}" class="ms-3 mt-3 pe-3 fw-bold" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ update_form|crispy }}
                       <button type="submit" class="btn btn-dark" aria-label="Update recipe">Update</button>
                   </form>
                    {% else %}
                    <h3 class="mb-3">Sorry, you are not allowed to access this page.</h3>
                    {% endif %}
               </div>
            </div>
          </div>
       </div>
  </div>

{% endblock %}