{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="masthead">
    <div class="container-fluid mb-5">
      <div class="row justify-content-center">
          <!--Link to add a recipe-->
          <div class="col-md-4">
              {% if user.is_authenticated %}
              <a href="{% url 'recipe_add' %}" class="btn btn-dark">Add Recipe <i class="fa-light fa-plus"></i></a>
              {% endif %}     
          </div>
        </div>
        <div class="row justify-content-center">
           <!--To view user profile-->
           <div class="col-md-4">
               <div class="card-panel">
                   {% if user.is_authenticated %}
                   <div class="container mt-4 mb-4">
                         
                      {% if 'placeholder' in profile.profile_image.url %}
                      <img class="card-img-top" width="300px" height="300px"
                      src="{% static 'images/default-profile.webp' %}">
                      {% else %}
                      <img class="card-img-top" width="300px" height="300px"
                      src="{{ user.profile.profile_image.url }}">
                      {% endif %}
                   </div> 
                   <div class="text-center">
                      <p><span class="fw-bold">Username</span> {{ user.username }}</p>
                      <p><span class="fw-bold">First Name:</span> {{ user.profile.profile_first_name }}</p>
                      <p><span class="fw-bold">Last Name:</span> {{ user.profile.profile_last_name }}</p>
                      <p><span class="fw-bold">Email:</span> {{ user.email }}</p>
                   </div>
                   {% endif %}
                 </div>
              </div>
              <!--Recipes that are added by user-->
              <div class="col-md-4">
                  <div class="card-panel">
                      <h2 class="ms-4 mt-1 text-center">My recipes</h2>
                      <br>
                      {% if my_recipes %}
                      {% for recipe in my_recipes %}
                    
                      <div class="card ms-2 mx-2 mb-2">
                          <p class="author ms-4 mt-2">Author: {{ recipe.author }}</p>
                          <a href="{% url 'recipes' recipe.id %}">
                          <p class="card-title ms-4">{{ recipe.title }}</p></a>
                      </div>
                  
                      {% endfor %} 
                      {% else %}
                
                  </div>
                  <!--Display a message if there is no recipe added-->
                  <div class="ms-2"><h4 class="mt-2 text-center">You have not created any recipe yet!</h4>
                  </div>
                     {% endif %}
                  </div>    
              </div>
          </div>              
      </div>
{% endblock %}