{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="masthead bg-color4">
   <div class="container detail-container">
       <div class="row">
           <!--To display a Recipe column-->
           <div class="col-12 col-md-6">
                <div class="card-panel bg-color3 text-col2 mt-5">
                    <div class="container text-center mt-4 mb-4">
                {% if 'placeholder' in recipe.recipe_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="300px" height="300px">
                {% else %}
                <img src="{{ recipe.recipe_image.url }}" width="300px" height="300px">
                {% endif %}
                    </div>
                <div class="text-center">
                <p><span class="fw-bold">Title:</span> {{ recipe.title }}</p>
                <p><span class="fw-bold">By {{ recipe.author }}</span></p>
                <p><span class="fw-bold">Ingredients:</span> {{ recipe.ingredients }}</p>
                <p><span class="fw-bold">Serves:</span> {{ recipe.serves }}</p>
                <p><span class="fw-bold">Duration(in minutes):</span> {{ recipe.duration }}</p>
                <p><span class="fw-bold">Cuisine:</span> {{ recipe.cuisine_name }}</p>
                <p><span class="fw-bold">Skill Level:</span> {{ recipe.skill_level }}</p>
                <p><span class="fw-bold">Steps:</span> {{ recipe.steps }}</p>
                </div>
              </div>
           </div>
           <!--Display a message and link to login page for unauthorized user-->
           <div class="col-12 col-md-6 mt-5">
               {% if not user.is_authenticated %}
               <div class="card-panel mb-3 text-center bg-dark item-col2">
                 <h3 class="mt-2">Why not 
                      <a href="{% url 'account_login' %}" class="item-col3">Login</a> if you want to leave a comment on the recipe?
                 </h3>
              </div>
              {% endif %}
               <!--To add comment only for authenticated users-->           
               {% if user.is_authenticated %}
                <div class="card-panel bg-color3 text-col2">
                    <h3 class="text-center mt-2">Enter your comments here:</h3>
                    <p class="ms-3 mt-1 text-center"><span class="fw-bold">Posting as:</span> {{ user.username }}</p>
                    <p class="ms-3 mt-1 text-center"><span class="fw-bold">Recipe:</span> {{ recipe.title }}</p>
                    <div class="card-text">
                   <form method="POST" action="{% url 'recipe_detail' recipe.id %}" class="ms-3 me-3 fw-bold text-center">
                      {% csrf_token %}
                      {{ comment_form|crispy }}
                      <div class="text-center mb-3">
                         <button type="submit" class="btn bg-color4 text-col1 fw-bold" aria-label="Submit a comment">Submit</button>
                        </div>
                   </form>
                   {% endif %}
                   
                </div>
            </div>
        </div>
    </div>   
    <hr>

    <div class="row">
          <!--To display Comments column-->
          <div class="col-12 mb-5">
               <h3 class="text-col1 fw-bold">Comments:</h3>
               <div class="card mb-4 mb-5">
                   {% for comment in comments %}
                   <div class="card-body mb-3">
                      <!--Author-->
                      <p>{{ comment.author }}
                          <!--created on-->
                          <span>{{ comment.created_on }}</span>
                      </p>
                      Wrote:
                        <!--Body-->
                        <span>{{ comment.body | linebreaks }}</span>
                   </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}