{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="masthead">
    <div class="container-fluid mb-5 bg-color4">
        <div class="row justify-content-center">
           <!--To view user profile-->
           <div class="col-md-4 mt-4">
               <div class="card-panel bg-color3 mb-5 text-col2">
                   <h3 class="text-center"><span class="fw-bold">Profile: </span> {{ user.username }}</h3>
                   {% if user.is_authenticated %}
                   <div class="container mt-4 mb-4">
                         
                      {% if 'placeholder' in profile.profile_image.url %}
                      <img class="card-img-top" width="300px" height="300px"
                      src="{% static 'images/default-profile.webp' %}">
                      {% else %}
                      <img class="card-img-top" width="300px" height="300px"
                      src="{{ user.profile.profile_image.url }}">
                      {% endif %}
                   </div> 
                   <div class="text-center">
                      <p><span class="fw-bold">First Name:</span> {{ user.profile.profile_first_name }}</p>
                      <p><span class="fw-bold">Last Name:</span> {{ user.profile.profile_last_name }}</p>
                    </div>
                   {% endif %}
                 
                   <div class="row text-center">
                       <!--Update profile link-->
                       <div class="col">
                           <a href="{% url 'edit_profile' %}" class="btn bg-color4 text-col1 fw-bold mt-4 m-2">
                              Update
                           </a>
                       </div>
                       <div class="col">
                          <!--Form for Profile Deletion-->
                          <form method="POST" action="#" id="profile-delete">
                             {% csrf_token %}
                             <button type="button" class="btn bg-color4 text-col1 fw-bold mt-4 mx-4 m-2" aria-label="Delete profile" data-bs-toggle="modal" data-bs-target="#modal-confirm-delete">
                                 Delete
                             </button>
                          </form>
                      </div>
                   </div>
                 </div>
            </div>
            <!--Recipes that are added by user-->
            <div class="col-md-4 mt-4">
                <div class="card-panel bg-color3 mb-5">
                     <h2 class="ms-4 mt-1 text-center text-col2">My recipes</h2>
                      <br>
                      {% if my_recipes %}
                      {% for recipe in my_recipes %}
                    
                      <div class="card ms-2 mx-2 mb-3">
                          <p class="author ms-4 mt-2 fw-bold">Author: {{ recipe.author }}</p>
                          <a href="{% url 'recipes' recipe.id %}">
                          <p class="card-title ms-4 fw-bold">{{ recipe.title }}</p></a>
                      </div>
                  
                      {% endfor %}
                      {% else %}
                      <!--Display a message if there is no recipe added-->
                      <div class="bg-color3 item-col3 p-2 mt-2">
                         <h4 class="mt-2 text-center text-col2">You have not created any recipe yet!</h4>
                         <p class="text-center text-col2">Click the below button to upload your recipe</p>
                      </div>
                </div>
                      {% endif %}
                     
                <div class="row justify-content-center">
                     <div class="col-md-6 text-center mb-5">
                          {% if user.is_authenticated %}
                          <!--Link to add a recipe-->
                          <a href="{% url 'recipe_add' %}" class="btn btn-dark m-2">Add Recipe <i class="fa-light fa-plus"></i></a>
                          {% endif %}     
                      </div>
                 </div>
            </div>    
          </div>
      </div>              
  </div>
{% endblock %}
