{% extends "base.html" %}
{% block content %}

<div class="masthead">
<div class="container detail-container">
    <div class="row">
        <div class="col-12 col-md-6">
            {% if 'placeholder' in recipe.recipe_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
            {% else %}
            <img src="{{ recipe.recipe_image.url }}" width="100%">
            {% endif %}
            <!--recipe title-->
            <a href="#">
                <p>{{ recipe.title }}</p>
            </a>
            <!--Author-->
            <p>{{ recipe.author }}</p>
            <!--Cuisine name-->
            <span>{{ recipe.cuisine_name }}</span>
        </div>
    </div>
</div>

{% endblock %}